body {
  background-color: #e3efe8;
  background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
}
.postbody {
  padding-top: 0;
  padding-left: 10%;
  padding-right: 5%;
  margin-top: 25px;
}
.wrapper {
  font-family: "Signika", sans-serif;
  width: 25em;
  border-style: double;
  border-color: rgb(52, 74, 88);
  border-width: 0.25em;
  border-radius: 5em;
  background: rgb(255, 255, 255);
  margin: 0 auto;
}
.title {
  color: #000000;
  font-size: 38px;
  font-family: "Signika", sans-serif;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.foot {
  text-align: center;
  padding: 0px;
  margin-top: 0px;
  font-size: 9px;
  padding-right: 200px;
}
.author {
  text-decoration: underline;
  font-size: 11;
  margin-top: 2px;
  margin-bottom: 5px;
}
a {
  color: rgb(11, 47, 71);
  font-family: "Signika", sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(8, 95, 153);
}
a:active {
  text-decoration: under;
  color: rgb(162, 197, 221);
}
.newpost {
  font-family: "Signika", sans-serif;
  margin: 0 auto;
}
.newpostborder {
  width: 25em;
  border-style: double;
  border-color: rgb(52, 74, 88);

  border-radius: 5em;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbarcustom {
  border-bottom: double;
  color: rgb(0, 0, 0);
  background-color: rgb(40, 60, 70);
}
